body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6cc9ff
}
:root{


.app{
  background-color: #6cc9ff;
  text-align: center;
  font-size: calc(10px + 10px);
  font-weight: 700;
  color: white;

}
}
.app input{
  width: 40%;
  border-radius: 10px;
  background: white;
}

.theme-option{
  height: 25px;
  width: 25px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
#theme-light{
  background-color: white;
  border-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


